{% extends "notes/base.html" %}
{% load static %}

{% block content %}
<div class="appbar">
  <img src="{% static 'notes/img/logo-getit.png' %}" class="logo" />
  <span class="subtitle">Como o Post-it, mas com outro verbo</span>
  <a class="tags-page" href="{% url 'tag' %}"><i class="fa fa-filter"></i></a>
  <span class="tags-subtitle">Tags</span>
  <a class="tags-page" href="{% url 'index' %}"><i class="fa fa-sticky-note"></i></a>
  <span class="tags-subtitle">Notas</span>
</div>

<main class="container">

  {% for tag in tags %}
  <div class="tag-title-container">
    <h4>Filtro Tag: "{{tag}}"</h4>
  </div>
  {% endfor %}

  <div class="card-container">
    {% include "notes/note.html" %}
  </div>
{% endblock %}